<!-- Button trigger modal modificar-->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarcontenidoprogress">
    <i class="fa-solid fa-pencil"></i>
    </button>

    <!-- Button trigger modal eliminar-->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarcontenidoprogress">
      <i class="fa-solid fa-trash"></i>
    </button>

    <!-- Modal eliminar contenido progress-->
    <div class="modal fade" id="modaleliminarcontenidoprogress" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modaleliminarcontenidoprogress">Eliminar contenido</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              ¿Estas segur@ de eliminar el contenido?
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal modificar contenido progress -->
    <div class="modal fade" id="modalmodificarcontenidoprogress" ata-bs-backdrop="static" data-bs-keyboard="false"
      tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="modalmodificarcontenidoprogress">Edición contenido progress</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <input class="form-control" type="text" value="Editar habilidad..." aria-label="readonly input example"><br>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </div>
      </div>

