<!-- Inicio de mi educación -->
<section id="mi-educacion">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="text-center mt-5 mb-5">
                    <h2>Mi educación</h2>
                    <div>
                        <div class="col-lg-12 col-md-8 col-sm-8 col-xs-4">
                            <div class="estudio-universitario"></div>
                            <img style="width: 300px" src="./assets/img/UADER fcg.jpg"
                                alt="Logo de la Universidad Autonoma de Entre Ríos">
                            <h5 class="educacion-titulo">Técnica Archivera</h5>
                            <p>Universidad Autónoma de Entre Ríos</p>
                            <h5 class="educacion-año">2021</h5>
                            <div>
                                <!-- Button trigger modal modificar-->
                                <button type="button" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#modalmodificareducacion">
                                    <i class="fa-solid fa-pencil"></i>

                                    <!-- Button trigger modal eliminar-->
                                    <button type="button" class="btn" data-bs-toggle="modal"
                                        data-bs-target="#modaleliminareducacion">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <div class="estudio-posgrado"></div>
                                    <img src="./assets/img/Esc.Rep.EntreRios.png"
                                        alt="Logo de la Escuela República de Entre Ríos">
                                    <h5 class="educacion-titulo">Nivel polimodal en economía y gestión de las
                                        organizaciones</h5>
                                    <p>República de Entre Ríos</p>
                                    <h5 class="educacion-año">2011</h5>
                                    <div>
                                        <!-- Button trigger modal modificar-->
                                        <button type="button" class="btn" data-bs-toggle="modal"
                                            data-bs-target="#modalmodificareducacion">
                                            <i class="fa-solid fa-pencil"></i>

                                            <!-- Button trigger modal eliminar -->
                                            <button type="button" class="btn" data-bs-toggle="modal"
                                                data-bs-target="#modaleliminareducacion">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
