/*INICIO EDUCACIÓN*/
#mi-educacion {
    padding: 2%;
    background-color: #dcdcdc;
    text-align: center;

}

.estudio-universitario {
    padding-top: 2%;
    padding-bottom: 5%;
}


/*FIN EDUCACIÓN*/