<section id="mis-cursos">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-5 mb-5">
            <h2>Mis Cursos</h2>
          </div>
        </div>
      </div>
    </div>


<div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">#SéProgramar-
            Ministerio de Desarrollo Productivo.
            Modalidad: online</h5>
        <ul style="text-align:justify;">
            <li>Introducción a la programación;</li>
            <li>Introducción a lenguajes de programación: Gobstones; JavaScript & Ruby.</li>
          </ul>
          <em>2021-2022</em>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Desarrollo de un plan de carrera profesional-UADER Fcg</h5>
        <ul style="text-align:justify;"> 
              <li>Desarrollo de objetivos;</li>
              <li>Gestión del tiempo;</li>
              <li>Analisis de empresas;</li>
              <li>Analisis FODA; etc</li>
            </ul>
            <em>2022</em>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">"Atom, Access to Memory: Normas Archivísticas y su Funcionamiento"-UADER Fcg</h5>
        <ul style="text-align:justify;">
            <li>Introducción y funcionamiento de la plataforma Ica-AtoM;</li>
            <li>Normas Archivísticas que regulan la plataforma.</li>
          </ul>
            <em>2021</em>
      </div>
    </div>
  </div>