
/*INICIO DE MIS HABILIDADES, HARD&SOFT SKILLS*/
.mis-habilidades {
    text-align: center;
    padding-bottom: 2%;
}

#progressbar {
    background-color: #dcdcdc;
    padding: 2%;
}


/*FIN DE MIS HABILIDADES, HARD&SOFT SKILLS*/
