  <!--Inicio de mi experiencia laboral-->
  <section id="formacion-profesional" class="formacion-profesional">
    <div class="container">
        <div class="row justify-content-center">
          <div class="text-center mt-5 mb-5">
            <h2>Mi formación Profesional</h2>
            <app-modal-titulos></app-modal-titulos>
        </div>
      </div>
    </div>


  

    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h5>Museo Provincial Hogar Escuela Eva Perón</h5>
            <p>
              Rol: "Becada, Téc. Archivera" <br>
              <em>feb 2020-dic 2022</em>
            </p>
            <p style="text-align: justify">Tareas:</p>
            <p>
            <ul style="text-align: justify;">
              <li>Organizar, clasificar y describir los documentos historicos;</li>
              <li>Carga de datos e información en plataforma
                virtual Gestión de Museos;</li>
              <li>Organizar visitas guiadas en el Archivo Histórico del Museo.</li>
              <li>Presentar y gestionar proyectos e informes de trabajo.</li>
            </ul>
            <app-modals-formacion-p></app-modals-formacion-p>
          </div>
          <div class="col">
            <h5>UADER-Facultad de Ciencias de la Gestión</h5>
            Rol: "Docente"<br>
          <em>feb 2012-marzo 2021</em>
        <p style="text-align: justify">Tareas:</p>
        <p>
        <ul style="text-align:justify">
          <li>Planificar y dictar clases virtuales del Módulo Específico de ingreso a la Carrera
            "Licenciatura en Archivología"</li>
          <li>Organizar los contenidos de las clases sincronicas y asincronicas</li>
          <li>Tomar asistencia</li>
        </ul>
       <app-modals-formacion-p></app-modals-formacion-p>
          </div>
          <div class="col">
            <h5>UADER-Facultad de Ciencias de la Gestión-Paraná,E.R.</h5>
            Rol: "Docente coolaborador"<br>
            <em>junio 2021-julio 2021</em>
        <p style="text-align: justify">Tareas:
        <ul style="text-align: justify">
          <li>Colaborar en las diversas clases programadas por el Docente titular del curso denominado,
            "Gestión de DOCUMENTOS y ARCHIVOS,proceso facilitador para la gestión administrativa".</li>
          <li>Mediar entre el docente y los alumnos</li>
          <li>Tomar asistencia</li>
        </ul>
        <app-modals-formacion-p></app-modals-formacion-p>
          </div>
        </div>
      </div>
