  <!--Inicio de mi experiencia laboral-->
  <section id="experiencia-laboral" class="experiencia">
    <div class="container">
        <div class="row justify-content-center">
          <div class="text-center mt-5 mb-5">
            <h2>Mi experiencia laboral</h2>
          </div>
        </div>
      </div>

  

    <div class="container text-center">
        <div class="row align-items-start">
          <div class="col">
            <h5>Heladería Artesanal <br>"La Valenciana"</h5>
            <a href="..."></a>
            <p>
              <em>Oct 2013-a la fecha</em>
            </p>
            <p style="text-align:justify">Tareas:</p>
            <p>
            <ul style="text-align: justify;">
              <li>Atención al público; caja; uso de posnet, facturación</li>
              <li>Control de stock y reposición;</li>
              <li>Toma de pedidos, atención venta por menor y por mayor.</li>
            </ul>
          </div>
          <div class="col">
            <h5>Drugtore "La esquina"</h5><br>
        <a href="..."></a>
        <p>
          <em>julio 2012-dic 2012</em>
        </p>
        <p style="text-align: justify">Tareas:</p>
        <p>
        <ul style="text-align:justify;">
          <li>Atención al público;</li>
          <li>Atención en caja;</li>
          <li>Control de stock y reposición.</li>
        </ul>
          </div>
          <div class="col">
            <div class="col-lg-6 text-center">
                <h5>Panadería "Los 3 Indios" </h5>
                <a href="..."></a>
                <p>
                  <em>en 2012-junio 2012</em>
                <p style="text-align: justify">Tareas:</p>
                <ul style="text-align: justify;">
                  <li>Atención al público;</li>
                  <li>Atención en caja;</li>
                  <li>Control de stock y reposición de mercaderia.</li>
                </ul>
          </div>
        </div>
      </div>
