<section id="sobremi" class="sobremi">
    <div class="container-fluid">
      <div class="container">
        <div class="row row-cols">
          <div class="col">
            <div class="text-center mt-5 mb-5">
              <h2>Les cuento acerca de mi... ★</h2>
              <app-modal-titulos></app-modal-titulos>
              <div class="col-lg-12 col-md-8 col-sm-8 col-xs-4">
                <p class="info-sobremi">Soy una persona proactiva, excelente compañera de equipo, organizada y
                  responsable. Siento mucho interés por la programación ,administración y la capacitación constante.
                  Disfruto aprender cosas nuevas, por lo que mi objetivo es un puesto desafiante y dinámico en el que
                  pueda compartir mi experiencia y crecer profesionalmente.</p>
              </div>
              <app-modals-sobre-mi></app-modals-sobre-mi>