  <!--Inicio de mi experiencia laboral-->
  <section id="experiencia-laboral" class="experiencia">
    <div class="container">
        <div class="row justify-content-center">
          <div class="text-center mt-5 mb-5">
            <h2>Mi experiencia laboral</h2>
           <app-modal-titulos></app-modal-titulos>
         
      

  

    
        <div class="row align-items-start">
          <div class="col">
            <h5>Heladería Artesanal <br>"La Valenciana"</h5>
            <a href="..."></a>
              <em>Oct 2013-a la fecha</em>
            <p style="text-align:justify">Tareas:</p>
            <ul style="text-align: justify;">
              <li>Atención al público; caja; uso de posnet, facturación</li>
              <li>Control de stock y reposición;</li>
              <li>Toma de pedidos, atención venta por menor y por mayor.</li>
            </ul>
            <app-modals-exp-laboral></app-modals-exp-laboral>
          </div>
          <div class="col">
            <h5>Drugtore "La esquina"</h5><br>
        <a href="..."></a>
          <em>julio 2012-dic 2012</em>
        <p style="text-align: justify">Tareas:</p>
        <ul style="text-align:justify;">
          <li>Atención al público;</li>
          <li>Atención en caja;</li>
          <li>Control de stock y reposición.</li>
        </ul>
        <app-modals-exp-laboral></app-modals-exp-laboral>
          </div>
          <div class="col">
                <h5>Panadería "Los 3 Indios" </h5><br>
                <a href="..."></a>
                  <em>en 2012-junio 2012</em>
                <p style="text-align: justify">Tareas:</p>
                <ul style="text-align: justify;">
                  <li>Atención al público;</li>
                  <li>Atención en caja;</li>
                  <li>Control de stock y reposición de mercaderia.</li>
                </ul>
               <app-modals-exp-laboral></app-modals-exp-laboral>
          </div>

