<section id="presentacion">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-5">
            <img class="foto-p" src="./assets/img/FOTO CV.jpg" width="300px" height="300px"
              alt="Foto de perfil de Johana Redondo">
            <!-- Button trigger modal -->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarfotodeperfil">
              <i class="fa-solid fa-pencil"></i>
              <!-- Button trigger modal -->
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarfotodeperfil">
                <i class="fa-solid fa-trash"></i>
              </button>

              <h1>Bienvenidos!</h1>
              <p> Mi nombre es </p>
              <h2>Johana Redondo</h2>
              <p> Soy</p>
              <h3>Full Stack Developer Jr & Téc. Archivera</h3>
              <!-- Button trigger modal modificar presentacion-->
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarpresentacion">
                <i class="fa-solid fa-pencil"></i>

                <!-- Button trigger modal eliminar presentacion-->
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarpresentacion">
                  <i class="fa-solid fa-trash"></i>
                </button>