<section id="presentacion">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center mt-5">
          <img class="foto-p" src="./assets/img/FOTO CV.jpg" width="300px" height="300px"
            alt="Foto de perfil de Johana Redondo">
            <app-modals-presentacion></app-modals-presentacion>     
 

    <h1>Bienvenidos!</h1>
    <app-modal-titulos></app-modal-titulos>
    <p> Mi nombre es </p>
    <h2>Johana Redondo</h2>
    <app-modal-titulos></app-modal-titulos>
    <p> Soy</p>
    <h3>Full Stack Developer Jr & Téc. Archivera</h3>
    <app-modal-titulos></app-modal-titulos>
    </div>
    </div>
    </div>