  <!--Inicio de mis proyectos-->
  <section id="mi-proyecto">
    <h2 style="text-align: center;">Mi primer Proyecto</h2>
    <div class="card-group">
      <div class="card">
        <img src="./assets/img/imagen 1 del portfolio.jpg.png " class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi primer Portfolio Web</h5>
          <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
        </div>
      </div>
      <app-lapizytachito></app-lapizytachito>

      <div class="card">
        <img src="./assets/img/imagen 2 de mi portfolio.jpg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi primer Portfolio Web</h5>
          <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
        </div>
      </div>
      <div class="card">
        <img src="./assets/img/imagen 3 de mi portfolio.png.jpg.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mi primer Portfolio Web</h5>
          <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
        </div>
      </div>