  <!--Inicio de mis proyectos-->
  <section id="mi-proyecto">
    <div id="container">
      <em>
        <h2 style="text-align: center;">Mi primer Proyecto</h2>
      </em>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img src="asset/images/imagen 1 del portfolio.jpg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mi primer Portfolio Web</h5>
              <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
            </div>
          </div>
          <!-- Button trigger modal modificar-->
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarproyecto">
            <i class="fa-solid fa-pencil"></i>

            <!-- Button trigger modal eliminar-->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarproyecto">
              <i class="fa-solid fa-trash"></i>
            </button>

        <div class="col">
          <div class="card">
            <img src="asset/images/imagen 2 de mi portfolio.jpg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Segunda imagen de mi Portfolio Web</h5>
              <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
            </div>
          </div>
          <!-- Button trigger modal modififcar-->
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarproyecto">
            <i class="fa-solid fa-pencil"></i>

            <!-- Button trigger modal eliminar-->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarproyecto">
              <i class="fa-solid fa-trash"></i>
            </button>



        <div class="col">
          <div class="card">
            <img src="asset/images/imagen 3 de mi portfolio.jpg.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tercera imagen de mi portfolio web</h5>
              <p class="card-text">Estructura estatica de mi primer Portfolio Web</p>
            </div>
          </div>
          <!-- Button trigger modal modificar-->
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificarproyecto">
            <i class="fa-solid fa-pencil"></i>

            <!-- Button trigger modal eliminar-->
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminarproyecto">
              <i class="fa-solid fa-trash"></i>
            </button>


  <!--Fin de mis proyectos-->
