<!-- Button trigger modal modificar-->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalmodificartitulo">
    <i class="fa-solid fa-pencil"></i>
    </button>

    <!-- Button trigger modal eliminar-->
    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modaleliminartitulo">
      <i class="fa-solid fa-trash"></i>
    </button>

    <!-- Modal eliminar titulo-->
    <div class="modal fade" id="modaleliminartitulo" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Eliminar contenido</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              ¿Estas segur@ de eliminar el contenido?
            </label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal modificar titulo-->
    <div class="modal fade" id="modalmodificartitulo" tabindex="-1"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Edición título</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="mb-3">
            <input class="form-control" type="text" value="Escriba un nuevo texto..." aria-label="readonly input example">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Guardar cambios</button>
          </div>
        </div>
      </div>
    </div>



